/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://images.pexels.com/photos/2859169/pexels-photo-2859169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover; /* Full screen background */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

/* Nav Bar */
nav {
    background: linear-gradient(45deg, #ff6a00, #ff9800);
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;  
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav .logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    text-align: center; 
    margin: 0; 
    cursor: pointer; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

nav .logo:hover {
    color: #020100; 
    transform: scale(1.1); 
}

main {
    margin-top: 80px; 
}

/* Login Box */
.login-box {
    background: rgba(85, 70, 70, 0.164); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(97, 87, 87, 0.041);
    backdrop-filter: blur(1px);
    text-align: center;
    width: 350px;
    z-index: 100;  
}

.login-box h1 {
    color: #ff6600;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Input Fields */
.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: black;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #ff6600;
}

/* Forgot password */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 14px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

/* Button*/
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff6600;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #e65c00;
}

/* Error message*/
.error-message {
    color: red;
    margin-bottom: 10px;
}
